<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicationaegis">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/incognito_wings_round"
        android:label="Aegis"
        android:roundIcon="@mipmap/incognito_wings_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name="com.example.applicationaegis.AdminInfoActivity"></activity>
        <activity android:name="com.example.applicationaegis.PinView"></activity>
        <activity android:name="com.example.applicationaegis.AdminLoginActivity"></activity>
        <activity android:name="com.example.applicationaegis.ContactActivity"></activity>
        <activity android:name="com.example.applicationaegis.EmergencyActivity"></activity>
        <activity android:name="com.example.applicationaegis.InformationActivity"></activity>
        <activity android:name="com.example.applicationaegis.InternetActivity"></activity>
        <activity android:name="com.example.applicationaegis.OptionsActivity"></activity>
        <activity android:name="com.example.applicationaegis.SurveyActivity"></activity>
        <activity android:name="com.example.applicationaegis.ResourceActivity"></activity>
        <activity android:name="com.example.applicationaegis.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <activity android:name="com.example.applicationaegis.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>