<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aegisapplication">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/incognito_wings_round"
        android:label="Aegis"
        android:roundIcon="@mipmap/incognito_wings_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name="aegisapplication.AdminInfoActivity"></activity>
        <activity android:name="aegisapplication.PinView"></activity>
        <activity android:name="aegisapplication.AdminLoginActivity"></activity>
        <activity android:name="aegisapplication.ContactActivity"></activity>
        <activity android:name="aegisapplication.EmergencyActivity"></activity>
        <activity android:name="aegisapplication.InformationActivity"></activity>
        <activity android:name="aegisapplication.InternetActivity"></activity>
        <activity android:name="aegisapplication.OptionsActivity"></activity>
        <activity android:name="aegisapplication.SurveyActivity"></activity>
        <activity android:name="aegisapplication.ResourceActivity"></activity>
        <activity android:name="aegisapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <activity android:name="aegisapplication.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>